<%- model_class = Patient -%>

<div class="container-fluid">

		<div class="column-left">
			<div id="new-profile-image">
				<div class="black-overlay">
					<h4 class="center-content text-overlay">Create a profile for your loved one.</h4>
				</div>
			</div>
		</div>
		
		<div class="column-right">

			<div class="center-content">
				<%= render :partial => 'form' %>
			</div>		

		</div>
	
</div>

