<%- model_class = Patient -%>

<div class="container-fluid">

	<div class="col-sm-6 black-overlay" id="new-profile-image">
		<div class="black-overlay">
			<h1 class="text-overlay call-to-action">Create a profile for your loved one.</h1>
		</div>
	</div>

	<div class="col-sm-offset-6 col-sm-6">
			<div class="center-vertical">
				<%= render :partial => 'form' %>
			</div>		
	</div>
</div>

