<section class="profile-description">

  <div class="col-sm-6 black-overlay" id="describe-them-image">
    <div class="black-overlay">
      <div class="center-content text-overlay">
        <p class="">Here is </p>
        <h1 class=""><%= @patient.first_name %>'s</h1>
        <p class="">Profile</p>
      </div>
      
    </div>
  </div>

</section>


