<%- model_class = Photo -%>
<div class="container-fluid">

  <div class="col-sm-6 black-overlay" id="new-photo-image">
    <div class="black-overlay">
      <h1 class="text-overlay call-to-action">Share memories, favourite activities and pictures.</h1>
    </div>
  </div>

  <div class="col-sm-offset-6 col-sm-6">
      <div class="center-vertical">
		<%= render :partial => 'form' %>

      </div>    
  </div>
</div>
