// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#new-profile-image {
	background: image-url("bench.jpg") no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	position: absolute;
	left: 0px;
}

#describe-them-image {
	background: image-url("books.jpeg") no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	position: absolute;
	left: 0px;
}

.form-button {
	margin-left: 8px;
}

.profile-description p {
	font-size: 1.8em;
}

.profile-description h1 {
	font-size: 3em;
}
