// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#new-profile-image {
	background: image-url("bench.jpg") no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
}

#describe-them-image {
	background: image-url("books.jpeg") no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#show-profile-image  {
	/*Find another one*/
	background: image-url("books.jpeg") no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}


.profile h1 {
	font-size: 1.8em;
}

.profile h3 {
	border-bottom: solid 1px #cfcfcf;
    padding-bottom: 0.2em;
    margin: 0.5em 0 1em 0;
}

.profile label {
	font-size: 1.2em;
}

.profile {
	p {
		font-size: 16px; /*Normal page text*/
	}

	p.title {
		font-size: 30px; /*Recreate h2 size for line breaking*/
	}
}

.profile ul {
	padding: 0;
	list-style: none;
}

.profile li {
}

.photo-container {

	display: -webkit-flex; /* Safari */
	display: flex;

	-webkit-flex-wrap: wrap; /* Safari */
	flex-wrap: wrap;

	margin-top: 1em;

	max-height: 14em;
	overflow: scroll;
}

.photo-container .media-object {
	margin: 0.1em;
}

.profile button {
	display: inline-block;
	bottom: 1em;
	left: 1em;
}
.profile button a {
	color: white;
}

/*Patient Index Page*/

.patient-index-table tr {
	cursor: pointer; cursor: hand;
}

.patient-index-table th:last-child, 
.patient-index-table td:last-child {
	text-align: right;
}

.hiddenRow {
    padding: 0 !important;

    h1 {
    	font-size: 1.2em;
    	margin-top: 1em;
    }
}

.photo-container {
	display: flex;
	flex-direction: row;
	overflow: scroll;

	img {
		margin: 1em;
	}

}

/*Patient Edit Page*/
.subtitle {
	font-weight: lighter;
}

.song-fields input {
	margin-bottom: 1em;
}

.edit-profile,
.profile-content {
	padding: 2em;
	top: 6em;
	text-align: left;
}

#form-in-wizard {
	margin: 0;
	
}

.step-content {
	height: 100vh;
}

/*Patient Show Page*/

.table-head {
	width: 40%;
	font-weight: bold;
}

.tag-form {
	
}

.patient-search {
	text-align: center;
	margin: 2em 0;
	input[type="text"] {
		width: 25%;

	}
	
}

@media (max-width: 800px) {
	.steps-container {
		visibility: hidden;
	}

	.actions {
		width: 100%;
		text-align: center;
	}

	#new-profile-image {
		background-attachment: initial;
	}

	.column-right {
		margin-top: 15em !important;
	}
}

.tabs {
	position: relative;   
	min-height: 600px;
	clear: both;
	margin: 1em auto;

}

@media (min-width: 768px) {
	.tabs {
		width: 75%;
		text-align: center;
	}

}

.tab {
	display: inline-block;

}

.tab label {
	position: relative;
	cursor: pointer;
	height: 50px;
	text-align: center;
	padding-top: 0.4em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	font-weight: bold;
	color: #95a5a6;

	i {
		padding: 8px;
	}

}

.tab [type=radio] {
	display: none;   
}

.tab [type=radio]:hover {
}

.tab-content {
	position: absolute;
	top: 48px;
	left: 0;
	background: white;
	right: 0;
	bottom: 0;
	padding: 10px;
	border: 1px solid #ccc; 
	overflow: auto;
	margin-top: 0.5em;
	text-align: left;
}

[type=radio]:checked ~ label {
	color: #354c8c;
	z-index: 2;
	font-weight: bold;
}

[type=radio]:checked ~ label ~ .tab-content {
	z-index: 1;	
}

/*Icons*/

.refresh-button i {
	color: #95a5a6;
	margin-left: 1em;

}

.fa-minus-square-o, .fa-plus-square-o {
	color: #95a5a6;
	float: right;
	margin-right: 0.5em;
}
